body {
    background: url(images/table.jpg);
    margin: 1;
    padding: 10x;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button {
    background-color: #5f9341;
    color: white;
    padding: 10px 20px;
    
    font-weight: bold;
}

.top {
    margin-bottom: 4px;
}

.mid {
    margin-bottom: 4px;
    
}

.bot {
    margin-bottom: 4px;

}

.zero {
    margin-bottom: 4px;
    
}

#dec-btn {
    margin-left: 50px;
}

#nine-btn {
    margin-left: 50px;
}