@font-face {
    font-family: 'Pokemon Solid';
    src: url('fonts/Pokemon\ Solid.ttf');
}

body{
    background-color: goldenrod;
    font-family: 'Pokemon Solid';
    font-weight: bold;
    text-align: center;
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
}