body {
    font-family: 'Courier New', Courier, monospace;
    
    background-color: black;
    color: lime;
}

#board {
    border: 5px solid lime;
}

#retry-btn {
    background-color: lime;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#leaderboard-el {
    text-align: center;
}

#main-el {
    margin-left: 150px;
}

#score-el {
    margin-left: 60px;
}

p {
    width: 500px;
}