body {
  background-color: black;
  color: #950101;
}

div {
  border: 1px solid white;
  padding: 3px;
}

.nav nav{
  display: flex;
}

.hamburgerIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburgerIcon a {
 text-decoration: none;
 color: #950101;
}

.homeIcon img{
  width: 10%;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.heroText{
  width: 150px;
}

.heroImage {
  display: flex;
  align-items: center;
}

.hero h1{
  color: red;
}