@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
:root{
  --color-1: #0f1016;
  --text-color: white;
  --accent-color: rgb(159, 25, 25);
  --title-color: red;
  --text-color2: #950101;
}
*{
  margin: 0;
  padding: 0;;
}
html{
  font-size: 14pt;
  font-family: "Concert One", sans-serif;
}
nav{
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a{
  height: 100%;
  padding: 0 20px;;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
}
nav a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--accent-color);
  transition: .3s;
  z-index: -1;
}
nav a:hover::before{
  width: 100%;
}
nav .home-link{
  margin-right: auto;
}
nav label svg{
  fill: var(--text-color);
}
#sidebar-active {
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
}

.portfolio {
  background-color: var(--color-1);
  color: var(--text-color);
  padding: 50px 20px;
  margin: 50px auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.portfolio h2 {
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: 20px;
}

.portfolioDesc {
  background-color: var(--text-color2);
  color: var(--text-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.portfolioDesc p {
  font-size: 1.1rem;
  line-height: 1.5;
}

@media(max-width: 400px){
  .links-container{
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgba(0,0,0,0.25);
    transition: 0.5s ease-out;
  }
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

body{
  background-color: black;
}

.hero{
  display: flex;
  border: 3px solid white;
  width: 100%;
  height: 300px;
  color: red;
}

.hero h1{
  color: red;
}